@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVC_AUTOSALONI.Models.AddMarcaViewModel


<h1>Inserimento nuova Marca</h1>



<form method="post">


	<div class="mt-3">
		<label class="form-label">Marca</label>
		<input type="text" class="form-control" asp-for="Marc" />
	</div>
	<br/>

	@if (TempData["Errore"] is not null)
	{
		<div class="alert alert-danger">
			<strong>@TempData["Errore"]</strong>
		</div>
	}
	
	<div class="mt-3">
		<button type="submit" class="btn btn-primary">Salva</button>
	</div>

</form>
